<section class="container">
  {{#if logged_in}}
    <div class="login-card">
      {{#if blogposts.id}}
        <h2 class="page-title">Edit Blogpost</h2>
      {{else}}
        <h2 class="page-title">Add Blogpost</h2>
      {{/if}}
      <input
        type="hidden"
        class="form-input"
        id="blogpost_id"
        value="{{blogposts.id}}"
      />
      <form class="form post-form">
        <div class="form-group">

          <label for="title">Blogpost Title</label>
          <input
            type="text"
            class="form-input"
            id="title"
            value="{{blogposts.title}}"
          />
        </div>
        <div class="form-group">
          <label for="blogpost">Add Blogpost</label>
          <textarea
            class="form-input"
            id="blogpost"
          >{{blogposts.content}}</textarea>
        </div>
        {{#if blogposts.id}}
          <div class="form-group">
            <button
              class="btn btn-primary"
              id="update-btn"
              type="button"
            >update</button>
          </div>
        {{else}}
          <div class="form-group">
            <button
              id="submit-btn"
              class="btn btn-primary"
              type="submit"
            >submit</button>
          </div>
        {{/if}}
      </form>
    </div>
    <script src="/js/blogpost.js"></script>
  {{else}}
    <a href="/login">You must login first to view this page</a>
  {{/if}}

</section>