{{#each blogposts as |blogpost|}}
  <div class="post-container">
    <h3><a href="#" onclick="viewpost({{blogpost.id}})">
        {{blogpost.title}}

        By
        {{blogpost.user.username}}
        Date:
        {{format_date blogpost.createdAt}}</a>
    </h3>
    <div
      class="post-content"
      id="post{{blogpost.id}}"
    >{{blogpost.content}}</div>
  </div>
  <script src="./js/toggle.js"></script>
{{/each}}